---
layout: page
title: Projects
punchline: Projects
permalink: /projects/
---

<div class="page-container">
  {% assign t = site.tags | first | first %}
  <div class="filter-btn-holder">
    {% for tag in site.tags | sort %}
      {% if tag[0] == t %}
        <div class="filter-btn active" tag="{{tag[0]}}" onclick="filterClicked('{{tag[0]}}')">
      {% else %}
        <div class="filter-btn" tag="{{tag[0]}}" onclick="filterClicked('{{tag[0]}}')">
      {% endif %}
          {{ tag[0] }} ({{ tag[1] | size }})
        </div>
    {% endfor %}
  </div>

  {% for post in site.posts %}
    {% if post.tags contains t %}
    <div class="media" tags="{{ post.tags | join: ' ' }}">
    {% else %}
      <div class="media hidden" tags="{{ post.tags | join: ', ' }}">
    {% endif %}
      <div class="media-left media-middle">
        <div class="project-image" style="background-image:url({{ site.url }}/images/{{ post.image.feature }})"></div>
      </div>
      <div class="media-body">
        <h3 class="media-heading">
          {{ post.title }}
          <span class="post-meta">
            {{ post.timeframe }}
          </span>
          {% for tag in post.tags %}
          <div class="filter-btn btn-small">
            {{ tag }}
          </div>
          {% endfor %}
        </h3>
        {{ post.description }}
      </div>
    </div>
  {% endfor %}
</div>

<script>
  function filterClicked(tag) {
    $(".filter-btn").removeClass("active");
    $( "div[tag*='" + tag + "']" ).addClass("active");
    $(".media").addClass("hidden");
    $( "div[tags*='" + tag + "']" ).removeClass("hidden");
    console.log($( "div[tags*='" + tag + "']" ));
  }
</script>
