---
layout: page
title: Projects
punchline: Projects
permalink: /projects/
---

<div class="page-container container">
  {% assign t = site.tags | first | first %}
  <div class="filter-btn-holder">
    {% for tag in site.tags | sort %}
      {% if tag[0] == t %}
        <div class="filter-btn active" tag="{{tag[0]}}" onclick="filterClicked('{{tag[0]}}')">
      {% else %}
        <div class="filter-btn" tag="{{tag[0]}}" onclick="filterClicked('{{tag[0]}}')">
      {% endif %}
          {{ tag[0] }} ({{ tag[1] | size }})
        </div>
    {% endfor %}
  </div>

  {% for post in site.posts %}
    {% if post.tags contains t %}
    <div class="row post-row" tags="{{ post.tags | join: ' ' }}">
    {% else %}
      <div class="row post-row hidden" tags="{{ post.tags | join: ', ' }}">
    {% endif %}
      <div class="col-sm-3 media-middle text-center">
        <div class="project-image" style="background-image:url({{ site.url }}/images/{{ post.image.feature }})"></div>
      </div>
      <div class="col-sm-9">
        <div class="row text-center" style="min-height:75px;">
          <h3>
            <div class="col-sm-4">
              {{ post.title }}
            </div>
            <div class="col-sm-3">
              <span class="post-meta">
                {{ post.timeframe }}
              </span>
            </div>
            <div class="col-sm-5">
              {% for tag in post.tags %}
              <div class="filter-btn btn-small">
                {{ tag }}
              </div>
              {% endfor %}
            </div>
          </h3>
        </div>
        {{ post.description }}
      </div>
    </div>
  {% endfor %}
</div>

<script>
  $(document).ready(function() {
    var tag = document.location.search.substr(1).split('=')[1];
    if (tag != undefined) {
      filterClicked(tag);
    }
  })

  function filterClicked(tag) {
    $(".filter-btn").removeClass("active");
    $( "div[tag*='" + tag + "']" ).addClass("active");
    $(".post-row").addClass("hidden");
    $( "div[tags*='" + tag + "']" ).removeClass("hidden");
    key = encodeURI("tag"); value = encodeURI(tag);
    window.history.pushState('', '', document.location.href.split("?")[0] + "?" + key + "=" + value);
  }
</script>
